body {
}

.App {
	position: relative;

	width: 100vw;
	height: 100vh;
}
.app-wrapper {
	position: relative;
	width: 98%;
	height: 98%;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.center-x {
	left: 50%;
	transform: translateX(-50%);
}

.center-y {
	top: 50%;
	transform: translateY(-50%);
}

.center-all {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
